@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


body{
    margin : 0 ;
    padding: 0 ;
    background-color: #330000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.login_body{
    margin: 0;
    background: #E8CBC0;
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
    background: linear-gradient(to right, #636FA4, #E8CBC0);
    background-size: 100% 100%;
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
}

.login_box{
    min-width: 300px;
    min-height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: rgb(255, 255, 255,0.1);
    transform:translate(-50%, -50%);
}

.login_body h1{
    font-size: 50px;
    font-family: 'Staatliches', cursive;
    text-align: center;
}

.login_body.id_username .login_body.id_password{
    display:block;
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-color: transparent ;
}

.login_button{
    position: absolute;
    top: 90%;
    left: 50%;
    transform:translate(-50%, -10%);
    width:60px;
    height: 30px;
    border-radius: 10px;
    border-color: transparent ;
}

.container{
    min-width: 300px;
    min-height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: rgb(255, 255, 255,0.1);
    transform:translate(-50%, -50%);
}

.create_acc{
    min-width: 300px;
    min-height: 50px;
    position: absolute;
    left: 50%;
    top: 77%;
    background-color: rgb(255, 255, 255,0.1);
    transform:translate(-50%, -50%);
}

body > div > h2{
    text-align: center;
    font-weight: bold;
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

.books_home {
    min-width: 90%;
    min-height: 100%;
    /* height: 100%; */
    background-color: rgb(255, 255, 255,0.1);
    margin-right: auto; margin-left: auto; width: 800px; 
}

.books_detail {
    min-width: 90%;
    min-height: 100%;
    background-color: rgb(255, 255, 255,0.1);
    margin-right: auto; margin-left: auto; width: 800px; 
}

.books_home h1{
    text-align: center;
    color: #fff;
}

.books_home h2,p,.date,img{
    text-align: left;
    margin-left:20px;
}

.books_home p{
    color: rgb(227, 252, 4);
}

.books_home .date{
    color: #fff;
}

.books_home .author{
    display: inline;
    font-size: 22px;
}

.books_detail .author{
    margin: 20px;
    color : #fff
}

.button{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }